/**************************************************
*
*    web color
*
*    white        : #fff
*    gray(light)  : #8b8b8b
*    blue(light)  : #b1d1f6
*	 blue(dark)	  : #0a0e22
*    black        : #000
*
**************************************************/

/*
GENERAL
*/

body {
    background: url(../img/bg_blog2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
    overflow: visible;
    height: initial;
	font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
}

span {
	font-size: 16px;
}

h1,
h4,
h5,
p,
span {
    color: #fff;
}

/*-----------------------------------------------
*    content
-----------------------------------------------*/

#main {
    height: 100%;
    padding: 0;
}

.row {
    margin-top: 5vh;
}

.title {
    margin-top: 15vh;
    margin-bottom: 23vh;
}

.title h5 {
    color: #8b8b8b;
    text-transform: uppercase;
    margin-top: 40px;
}

figure {
    width: 550px;
    height: 320px;
    max-width: 100%;
}

article {
    margin-top: -11px;
}

.info {
    margin-top: 50px;
}

.info h5 {
    line-height: 1.8;
}

.info > div {
    white-space: normal!important;
}

.more {
    width: 180px;
    border: solid #fff 1px;
    padding: 20px 30px;
    text-align: right;
    margin-top: 69px;
}

.blog_cat {
    color: #fff;
    display: table;
    border: solid #fff 1px;
    padding: 15px 25px;
    text-align: center;
    margin-top: 69px;
    margin-left: 16px;
}

.cat_array {
    display: flex;
}

.daguan {
    margin-top: 37px;
}

.more::after {
    content: '\2192';
    padding-left: 5px;
}

.more:hover {
    opacity: 0.5;
    text-decoration: none;
}

/*-----------------------------------------------
*    page
-----------------------------------------------*/

.counter {
    display: none;
}

.pagination {
    width: 100%;
    text-align: center;
}

.pagination ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
}

.pagination ul li {
    display: inline-block;
    padding: 0 10px;
}

.pagination ul li span {
    color: #BDBD3A;
}

.pagination ul li a {
    color: #fff;
}

.pagination ul li a:hover {
    color: #8b8b8b;
    text-decoration: none;
}

/*-----------------------------------------------
*    footer
-----------------------------------------------*/
footer {
    background-color: #0a0e22;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 8vh;
}

#footer {
    /*height: 20vh;*/
}

.contact {
    text-align: center;
    margin-top: 5vh;
}

.logo {
    width: 150px;
    height: 150px;
}

.contact img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.contact h6 {
    color: #8b8b8b;
}

.leading-0 {
    display: inline-block;
    width: 100%;
}

/*-----------------------------------------------
*    Product
-----------------------------------------------*/

#customformat-wrap {
    padding-left: 0;
    padding-right: 0;
}

#customformat-wrap-inner {
    width: 85%;
}

#articles-wrap {
    margin-top: 69px;
}

.product_name {
    color: #fff;
}

.product_info {
    line-height: 1.5;
}

.product_more {
    text-align: center;
    border: #fff 1px solid;
    padding: 10px;
}

.product_more a {
    color: #fff;
}

.product_more a:hover {
    text-decoration: none;
}

.product_more::after {
    content: '\2192';
    padding-left: 5px;
}

.product_more:hover {
    opacity: 0.5;
}

/*-----------------------------------------------
*    Product article
-----------------------------------------------*/

.heading a {
    color: #fff;
}

.text {
    margin-top: 5vh;
    line-height: 2;
}

.content-inner {
    margin-top: 69px;
}

/*-----------------------------------------------
*    RWD
-----------------------------------------------*/

@media (max-width: 767px) {
    article {
        margin-top: -115px;
    }

    footer {
        height: 50%;
    }

    .logo {
        margin: 0 auto;
    }

    .blog,
    #customformat-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact {
        margin-top: 0;
    }

    .content-img img {
        width: 100%;
    }
}
