/*-----------------------------------------------
*    nav
-----------------------------------------------*/
.nav {
    position: fixed;
    top: 10px;
    right: 1%;
}

.nav ul {
    padding-right: 35px;
    text-align: right;
    margin-top: 30px;
}

.nav li {
    list-style-type: none;
    float: none;
    /*margin-bottom: 7px;*/
}

.menu li a {
    display: block !important;
}

.nav a {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: "jf-jinxuan";
    letter-spacing: 2px;
    margin-bottom: 7px;
    transition: 0.3s;
}

.nav a:hover {
    text-decoration: none;
    color: #8b8b8b !important;
}

.nav .active a,
.nav .active a:hover {
    color: #BDBD3A !important;
}

.cat-children .menu {
    position: static;
}

.cat-children .menu li {
    display: inline-block;
    border: solid #fff 1px;
    /*padding: 0px 25px;*/
    text-align: center;
    margin-top: 69px;
}

.cat-children .menu li a {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
}

.navHeaderCollapse {
    transition: all ease-in-out 2s;
}

/*-----------------------------------------------
*    RWD
-----------------------------------------------*/
@media (min-width: 768px) {
    .cat-children .menu li {
        padding: 0px 25px;
    }

    .btn_cat {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navHeaderCollapse::after {
        content: '';
        background-color: #000;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .nav ul {
        margin-top: 60px;
    }

    .cat-children .menu li {
        display: block;
        margin-top: 0;
    }

    .menu {
        display: none;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
    }

    .btn_cat {
        margin-top: 69px;
        margin-bottom: 0;
        display: block;
        border: solid #fff 1px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        text-align: center;
    }
    
    .btn_cat span {
        color: #fff;
        font-size: 12px;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        letter-spacing: 2px;
    }

    .btn_cat span::after {
        content: '\25be';
        
    }

    
}